<!DOCTYPE html>
<html lang="en">
<!-- head part start -->
<!-- Interim feedback -->

<head>
	<title>Efeedor Healthcare Experience Management Platform</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="style.css?1776329988">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.9/angular-sanitize.min.js"></script>
	<script src="app_esr.js?1776329988"></script>
</head>
<!-- head part end -->


<!-- body part start -->

<body ng-app="ehandorApp" ng-controller="PatientFeedbackCtrl" style="display:none;" id="body">
	<!-- top navbar start -->
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="height: 60px;">
		<!-- Logo of efeedor -->
		<!-- <a class="navbar-brand" href="#"><img src="{{setting_data.logo}}" style="height: 36px; margin-left: -10px;" alt="Efeedor Logo"></a> -->

		<!-- Section for Buttons and Language Button -->
		<div class="ml-auto d-flex justify-content-between align-items-center w-100">
			<div class="left-buttons d-flex" ng-show="step2 || step3 || step4 || step5">
				<a ng-href="/login/?userid={{ adminId }}" class="btn btn-light mr-3 dashboard-btn" style="display:none; width: 100px; height: 32px; font-size: 14px; font-weight: bold; text-align: left; display: flex; align-items: center; padding-left: 10px;">
					Dashboard
				</a>
			</div>



			<!-- Right Side: Language Button -->
			<div class="right-buttons d-flex align-items-center">
				<button type="button" class="btn btn-dark language-btn" data-toggle="modal" data-target="#languageModal" style="margin: 4px;" ng-show="step2 || step3 || step4 || step5">
					{{type2}}
					<i class="fa fa-language" aria-hidden="true"></i>
				</button>
				<button class="btn btn-dark menu-toggle" ng-click="menuVisible = !menuVisible" style="margin: 4px; float:right;" ng-show="step2 || step3 || step4 || step5">
					<i class="fa fa-bars"></i>
				</button>
			</div>
		</div>
	</nav>
	<!-- top navbar end -->



	<div class="menu-dropdown" ng-show="menuVisible" style="margin-top: 17px; margin-right: 10px;">
		<div class="user-info" style="display: flex; align-items: center; padding: 10px; border-bottom: 1px solid #ddd; background: #f5f5f5;">
			<i class="fa fa-user-circle" style="font-size: 24px; margin-right: 10px; color: #333;"></i>
			<div>
				<div style="font-weight: bold; font-size: 14px;">{{ profilen.name }}</div>
				<div style="font-size: 12px; font-weight: bold;">{{ profilen.email }}</div>
			</div>
		</div>
		<ul style="margin-left: -5px;">
			<li><a href="#" ng-click="showAllContent()"><i class="fa fa-home"></i> Home</a></li>
			<li><a href="#" ng-click="showDashboard()"><i class="fa fa-globe"></i> Web Dashboard Access</a></li>
			<li><a href="/login/?userid={{ adminId }}&redirectType=userActivity"><i class="fa fa-user"></i> User Activity</a></li>
			<li><a href="#" ng-click="showAppDown()"><i class="fa fa-download"></i> App Download</a></li>
			<li><a href="#" ng-click="showSupport()"><i class="fa fa-phone"></i> Support</a></li>
			<li><a href="#" ng-click="showAbout()"><i class="fa fa-info-circle"></i> About</a></li>
			<li><a href="{{ logoutUrl }}"><i class="fa fa-sign-out"></i> Logout</a></li>
		</ul>
	</div>

	<!-- About Content Section -->
	<div ng-show="aboutVisible" class="about-section" style="background-color: white; padding: 20px; margin-top: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
		<h2>About</h2>
		<!-- <img src="/Efeedor_logo.png" alt="Colorful Image" style="max-width: 100%; height: auto; margin-bottom: 20px;"> -->
		<p><strong>Version:</strong> 8.01.05</p>
		<p>
			The Efeedor Mobile App is an extension of Efeedor's Healthcare Experience Management Suite, developed by ITATONE POINT CONSULTING LLP, a global health tech company specializing in enterprise applications for healthcare experience management. Designed for healthcare staff on the go, the app simplifies tasks like collecting patient feedback, addressing concerns, and reporting incidents or internal tickets. With its intuitive interface, you can easily track and manage activities and tickets.
		</p>
		<p>
			Record patient feedback, concerns, and requests, report incidents and grievances, and raise internal tickets effortlessly. The Efeedor Mobile App puts healthcare experience management at your fingertips, streamlining operations for better care delivery.
		</p>
		<p><i class="fa fa-globe"></i> <a href="https://www.efeedor.com" target="_blank">www.efeedor.com</a></p>
		<p><i class="fa fa-envelope"></i> <a href="mailto:contact@efeedor.com">contact@efeedor.com</a></p>
	</div>

	<!-- Support Content Section -->
	<div ng-show="supportVisible" class="support-section" style="background-color: white; padding: 20px; margin-top: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
		<h2>Support</h2>
		<p>
			For dedicated assistance ensuring your satisfaction and success with our software, please complete the details below to create your support ticket.
		</p>

		<iframe width="500" height="650" src="https://crm.efeedor.com/forms/ticket" frameborder="0" allowfullscreen></iframe>
	</div>

	<!-- App Download Section -->
	<div ng-show="appDownloadVisible" class="app-download-section" style="background-color: white; padding: 20px; margin-top: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
		<h2>App Download</h2>
		<p>
			Download the Efeedor Mobile App to enhance your healthcare experience management. Click the button below to get the latest version of the APK.
		</p>

		<!-- Button for APK Download -->
		<button ng-click="downloadApk()"
			ng-disabled="!setting_data.android_apk"
			style="background-color: #007bff; color: white; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer;">
			<i class="fa fa-download"></i> Download APK
		</button>
	</div>

	<!-- Web Dashboard section -->
	<div ng-show="dashboardVisible" class="dashboard-section" style="background-color: white; padding: 20px; margin-top: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
		<h2>Explore Web Dashboard</h2>
		<p>
			To access the web dashboard, please log in with your credentials using the following link. If you hold an Admin role, you will have access to view reports and analytics based on the permissions granted. If you are a department head or in charge of a department, you will be able to access the dashboard to view reports and analytics specific to your department and take action on the tickets assigned to you or your team.
		</p>

		<!-- Button for APK Download -->
		<a href="/login/?userid={{ adminId }}"
			style="background-color: #007bff; color: white; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer;">
			<i class="fa fa-globe"></i> Click here to open the link
		</a>
	</div>


	<!-- Create a modal for language selection -->
	<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="languageModalLabel">Select Language</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- Place your language selection options here -->



					<div class=" col-lg-12 col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-2 mb-2">
						<div class=" px-0 pt-2 pb-0">
							<div class="left" style="margin-left: 68vw; max-width: 100%; margin-top: 5px; margin-right: -10px;">
								<a href="../">
									<img src="./user.png" style="max-width: 100%; height: 45px;" alt="">
								</a>
							</div>
							<div style="text-align: left; align-items: left; margin-left: 25px; margin-right: 25px;"></div>
							<div class="box box-primary profilepage">
								<div class="box-body box-profile" style="display: inline-block;">

									<div class="card" style=" border: 2px solid #000;">
										<div class="" ng-click="language('english')" style="padding: 5px; height:100px; width:200px; " data-dismiss="modal">
											<span style="margin-left: -133px; color: #4b4c4d;">
												English
											</span><br>
											<span style="font-size: 34px; color: #4b4c4d; font-weight: bold;">
												A
											</span>
										</div>
									</div>
									<br>

									<div class="card" style=" border: 2px solid #000;">
										<div class="" ng-click="language('lang2')" style="padding: 5px; height:100px; width:200px; " data-dismiss="modal">
											<span style="margin-left: -133px; color: #4b4c4d;">
												?????
											</span><br>
											<span style="font-size: 34px; color: #4b4c4d; font-weight: bold;">
												?
											</span>
										</div>
									</div>
									<br>

									<!-- <div class="card" style=" border: 2px solid #000;">
										<div class="" ng-click="language('lang3')" style="padding: 5px; height:100px; width:200px; " data-dismiss="modal">
											<span style="margin-left: -100px; color: #4b4c4d;">
												??????
											</span><br>
											<span style="font-size: 34px; color: #4b4c4d; font-weight: bold;">
												?
											</span>
										</div>
									</div> -->
									<!-- <br>

									<div class="card" style=" border: 2px solid #000;">
										<div class="card-body" ng-click="language('lang3')" style="padding: 5px; height:100px; width:200px; " data-dismiss="modal">
											<span style="margin-left: -100px; color: #4b4c4d;">
												?????
											</span><br>
											<span style="font-size: 34px; color: #4b4c4d; font-weight: bold;">
												?
											</span>
										</div>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="grad1" style="background: whitesmoke; " ng-show="!aboutVisible && !supportVisible && !appDownloadVisible && !dashboardVisible">
		<div class="row justify-content-center mt-0" style="height:max-content;">
			<div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-2 mb-2">
				<div ng-show="toplogo == true">
					<img ng-src="{{setting_data.logo}}" style="    height: 50px;">
					<br>
				</div>
				<div class="card px-0 pt-2 pb-0 mt-2 mb-3">
					<div class="row">
						<div class="col-md-12 mx-0">
							<!-- form start -->

							<!-- Registered Mobile Number page start-->
							<fieldset ng-show="step0 == true">
								<div class="main-container">
									<div class="form-container" style="margin-top: 15px;margin-bottom:30px;">


										<div class="form-body" style="align-items:center;">
											<form class="the-form">
												<div style="text-align: center;">
													<a class="navbar-brand" href="#"><img src="{{setting_data.logo}}" style="height: 100px; width:100%"></a>
												</div>
												<br>
												<div style="color: red; text-align: center;" class="alert-error" ng-show="loginerror.length > 3">{{loginerror}}</div>
												<!-- <label for="text">Email / Mobile Number</label> -->
												<input type="text" name="email" id="email" class="input-field" placeholder="Enter email/ mobile no." ng-model="loginvar.userid" style="padding: 12px;font-size: 16px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 25px;  margin-bottom: 15px;  width: 90%; box-sizing: border-box;color: #000; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">
												<!-- <label for="password">Password</label> -->
												<div class="password-container">
													<input type="password" name="password" id="password" class="input-field" placeholder="Enter password" ng-model="loginvar.password" style="padding: 12px;font-size: 16px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 25px;  margin-bottom: 15px;  width: 90%; box-sizing: border-box;color: #000; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">
													<span style="color: rgba(0, 0, 0, 0.8);" class="password-toggle" onclick="togglePassword()">
														<i class="fa fa-eye-slash" aria-hidden="true"></i>
													</span>
												</div>
												<div style=" display: flex; justify-content: center; /* horizontally center */ align-items: center; ">
													<input ng-click="login()" type="submit" value="LOGIN" style="width: 100px; height:45px; background: #34a853; border: 1px solid rgba(0, 0, 0, 0.1);  padding: 10x;   font-size: 16px; border-radius: 50px;  cursor: pointer;  margin-top: 20px; color: white;">
												</div>
											</form>
										</div>
										<!-- FORM BODY-->
										<br><br>
										<div class="form-footer" style=" display: flex; justify-content: center; /* horizontally center */  align-items: center; ">
											<img src="./power.png" style="max-width: 100%; height: 45px; " alt="">
										</div><!-- FORM FOOTER -->

									</div><!-- FORM CONTAINER -->
								</div>
							</fieldset>
							<!-- Registered Mobile Number page end-->

							<form id="msform">


								<!-- INTERIM FEEDBACK FORM page start  -->
								<fieldset ng-show="step2 == true">
									<div class="form-card">
										<h3 class="sectiondivision" style="font-weight:bold;" ng-show="feedback.section == 'ISR'">{{lang.pagetitle}}</h3>
										<p style="margin:0px; margin-top:10px;font-size: 16px;">
											{{lang.goodafternoon}}											<!-- {{lang.gustname}}  -->
											{{loginname}},
										</p>
										<p style="margin:0px;font-size: 16px;">{{lang.gustmessageint}}</p>
									</div>
									<br />
									<br />
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="form-group">
												<span class="has-float-label">
													<select class="form-control" ng-model="feedback.ward" ng-change="change_ward()" style=" width: 94%; margin: 0px auto;">
														<option value="" disabled>{{lang.floor}}<sup style="color:red;font-size:15px;">*</sup></option>
														<option ng-repeat="x in wardlist.ward" ng-show="x.title != 'ALL' && x.title != 'Others' " value="{{x.title}}" required>{{x.title}}</option>
													</select>
												</span>
											</div>
										</div>
									</div>
									<br />
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="form-group">
												<span class="has-float-label">
													<select class="form-control" ng-model="feedback.bedno" style=" width: 94%; margin: 0px auto;">
														<option value="" disabled>{{lang.location}}<sup style="color:red;font-size:15px;">*</sup></option>
														<option ng-repeat="x in bed_no" value="{{x}}" required>{{x}}</option>
													</select>
												</span>
											</div>
										</div>
									</div>

									<br>
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12">
											<div class="form-group">
												<span class="has-float-label">
													<select class="form-control" ng-model="feedback.priority" style=" width: 94%; margin: 0px auto;">
														<option value="">{{lang.priority}}</option>
														<option ng-repeat="x in wardlist.priority" value="{{x.title}}" required>{{x.title}}</option>
													</select>
												</span>
											</div>
										</div>
									</div>

									<div class="row" style="text-align: left; margin-top: 5px;">
										<div class="col-xs-12 col-sm-12 col-md-12" style="text-align: left;">
											<div class="form-group">
												<span class="addon" style="font-size: 16px;margin-left: 19px;">Asset Number</span>
												<span class="has-float-label">
													<input class="form-control" placeholder="Enter asset number" maxlength="30" type="text" id="assetnumber" ng-required="true" ng-model="feedback.assetnumber" autocomplete="off"
														style="width: 94%; margin: 0px auto; border: 1px solid #ccc; padding: 8px; box-sizing: border-box;">
													<label for="assetnumber"></label>
												</span>
											</div>
										</div>
									</div>





									<br />
									<div class="text-left" style="width: 94%; margin: 0px auto;">
										<div class="search-container">
											<!-- <input type="text" ng-model="searchTextmain" ng-change="searchChanged()" placeholder="Search..."> -->

											<input type="text" placeholder="{{lang.mainSearch}}" ng-model="searchTextmain" ng-change="searchChanged()" value="searchTextmain" oninput="restrictToAlphabets(event)">
											<i class="fa fa-search search-icon"></i>

											<div class="dropdown-results" ng-if="searchTextmain && searchTextmain.length > 1">
												<!-- <ul> -->


												<div ng-repeat="q in questioset">
													<li ng-repeat="p in q.question | filter:searchTextmain" ng-click="selectQuestionCategory1(p ,q)" ng-show="p.question != 'Other'">
														<label class="container">
															<span ng-show="typel == 'english'">{{p.question}}</span>
															<span ng-show="typel == 'lang2'">{{p.questionk}}</span>
															<span ng-show="typel == 'lang3'">{{p.questionm}}</span>
															<input type="checkbox" ng-model="p.valuetext" ng-show="p.showQuestion">
															<span class="checkmark" style="border-radius: 50%;"></span>
														</label>
														<!-- Include other languages as necessary -->
													</li>
												</div>
												<!-- </ul> -->
											</div>
											<div class="dropdown-results" ng-if="searchTextmain != TRUE && searchTextmain.length > 1">
												<div ng-click="customTicket()">
													<label class="container">
														Submit your concern as "{{searchTextmain}}"
													</label>
												</div>

											</div>
										</div>
									</div>



									<br>
									<h4 style="font-size: 18px; margin-bottom: 22px;"><b>{{lang.chooseCategory}}</b></h4>
									<div class="" style="width: 92%; margin: 0px auto;">
										<div class="row">
											<div ng-repeat="q in questioset" class="col-6" ng-show="q.category != 'Other'">
												<div class="card" ng-click="selectQuestion(q)">
													<div class="row">
														<div class="col-12">
															<div class="card product-card" style="margin-bottom: 10px;">
																<div class="card-body">
																	<p class="text" ng-bind-html="q.icon" style="color: #5c5959;font-size: 36px;"></p>
																	<p class="text ellipsis" ng-show="typel == 'english'">{{q.category}}</p>
																	<p class="text ellipsis" ng-show="typel == 'lang2'">{{q.categoryk}}</p>
																	<p class="text ellipsis" ng-show="typel == 'lang3'">{{q.categorym}}</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<!-- <div>
											<input type="button" name="previous" style="font-size:small;" class="previous action-button-previous" ng-click="activeStep('step0')" value="{{lang.previous}}" />
										</div> -->
									</div>



								</fieldset>





								<!-- card click -->
								<fieldset ng-show="step3 == true">
									<div class="text-left">


										<!-- <span>{{searchTextmain}}</span> -->
										<br />

										<!-- for radio button ........if u want old flow uncomment above code and in js file also uncomment the code -->


										<!-- <div class="text-left" style="width: 94%; margin: 0px auto;" ng-show="feedback.parameter.length != 0"> -->

										<div class="text-left" style="width: 94%; margin: 0px auto;" ng-show="selectedQuestionObject.question.length != 0">
											<input type="text" placeholder="{{lang.search_placholder}}" ng-click="filterFunction()" ng-model="searchText" oninput="restrictToAlphabets(event)">
											<i class="fa fa-search search-icon"></i>
											<h4 style="font-size: 18px; margin-bottom: 22px;" ng-show="typel == 'english'"><br><b>{{lang.telluswrong}} {{category}}</b></h4>
											<h4 style="font-size: 18px; margin-bottom: 22px;" ng-show="typel == 'lang2'"><br><b>{{categoryk}} {{lang.telluswrong}}</b></h4>
											<h4 style="font-size: 18px; margin-bottom: 22px;" ng-show="typel == 'lang3'"><br><b>{{categorym}} {{lang.telluswrong}}</b></h4>

										
											<div ng-repeat="p in selectedQuestionObject.question | filter:filterFunction">
    <label class="container">
        <!-- Show bold text when p.parent == 2 -->
        <span ng-show="p.valuetext == 1" style="font-weight: bold;">
            <span ng-show="typel == 'english'">{{p.question}}</span>
            <span ng-show="typel == 'lang2'">{{p.questionk}}</span>
            <span ng-show="typel == 'lang3'">{{p.questionm}}</span>
        </span>

        <!-- Show checkbox if p.parent is NOT 2 -->
        <span ng-show="p.valuetext != 1">
            <span ng-show="typel == 'english'">{{p.question}}</span>
            <span ng-show="typel == 'lang2'">{{p.questionk}}</span>
            <span ng-show="typel == 'lang3'">{{p.questionm}}</span>
            <input type="checkbox" ng-click="selectQuestionCategory(p,selectedQuestionObject)" ng-model="p.valuetext" ng-show="p.showQuestion">
            <span class="checkmark" style="border-radius: 50%;"></span>
        </span>
    </label>
</div>

											<!-- rest of your code -->
											<!-- <div class="form-group" ng-show="feedback.parameter.length != 0">
												<label for="comment"><b>{{lang.commentt}}:</b></label>
												<textarea style="border: 1px solid #ccc;" class="form-control" ng-model="feedback.other" rows="5" id="comment"></textarea>
											</div> -->
											<br>

											<input type="button" name="previous" style="font-size:small;" class="previous action-button-previous" ng-click="activeStep('step2')" value="{{lang.previous}}" />

										</div>


										<!-- submit button  -->
										<!-- <div ng-show="feedback.parameter.length != 0">

											<input type="button" name="make_payment" style="background: #4285F4 ; font-size:small;" class="next action-button" ng-click="savefeedback()" ng-show="loader == false" value="{{lang.submit}}" />
										</div> -->
										<img src="https://media.tenor.com/8ZhQShCQe9UAAAAC/loader.gif" ng-show="loader == true">
									</div>
								</fieldset>
								<!-- INTERIM FEEDBACK FORM page end  -->


								<fieldset ng-show="step4 == true">
									<div class="text-left details-section" style="background: white;">
										<label for="comment"><b style="font-size: 18px;margin-left:6px;">{{lang.submission_pat_details}}:</b></label>

										<table class="details-content" style="border-spacing: 10px; border-collapse: collapse; width: 100%; margin-bottom: 0px; border: 1px solid #dddddd;">

											<tr ng-show="submit_as_concern == true">
												<td colspan="2" class="details-label" style="padding: 10px;"><b style="font-size: 15px;">{{lang.detail}}</b></td>
											</tr>


											<tr ng-show="submit_as_concern == true">
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">{{lang.SelectedCategory}}</td>
												<td ng-show="selectedParameterObject.title && selectedParameterObject.title != 'Other'" style="border: 1px solid #dddddd; padding: 10px;">
													<span style="margin-left: 0px;" class="lang-content" ng-show="typel == 'english'">{{selectedParameterObject.title}}</span>
													<span style="margin-left: 0px;" class="lang-content" ng-show="typel == 'lang2'">{{selectedParameterObject.titlek}}</span>
													<span style="margin-left: 0px;" class="lang-content" ng-show="typel == 'lang3'">{{selectedParameterObject.titlem}}</span>
												</td>
											</tr>
											<tr ng-show="submit_as_concern == true">
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">{{lang.concern_request}}</td>
												<td ng-show="selectedParameterObject.title && selectedParameterObject.title != 'Other'" style="border: 1px solid #dddddd; padding: 10px;">
													<span style="margin-left: 0px;" class="lang-content" ng-show="typel == 'english'">{{selectedParameterObject.question}}</span>
													<span style="margin-left: 0px;" class="lang-content" ng-show="typel == 'lang2'">{{selectedParameterObject.questionk}}</span>
													<span style="margin-left: 0px;" class="lang-content" ng-show="typel == 'lang3'">{{selectedParameterObject.questionm}}</span>
												</td>
											</tr>
											<tr>
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">{{lang.showpriority}}</td>
												<td style="border: 1px solid #dddddd; padding: 10px;">{{feedback.priority}}</td>
											</tr>
											<tr>
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">Asset number</td>
												<td style="border: 1px solid #dddddd; padding: 10px;">{{feedback.assetnumber}}</td>
											</tr>

											<tr>
												<td colspan="2" class="details-label" style="padding: 10px;"><b style="font-size: 15px;">{{lang.recieved}}</b></td>
											</tr>
											<tr>
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">{{lang.showfloor}}</td>
												<td style="border: 1px solid #dddddd; padding: 10px;">{{feedback.ward}}</td>
											</tr>
											<tr>
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">{{lang.showlocation}}</td>
												<td style="border: 1px solid #dddddd; padding: 10px;">{{feedback.bedno}}</td>
											</tr>

											<tr>
												<td colspan="2" class="details-label" style="padding: 10px;"><b style="font-size: 15px;">{{lang.raised}}</b></td>
											</tr>
											<tr>
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">{{lang.employeename}}</td>
												<td style="border: 1px solid #dddddd; padding: 10px;">{{loginname}}</td>
											</tr>
											<tr>
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">{{lang.employeeid}}</td>
												<td style="border: 1px solid #dddddd; padding: 10px;">{{loginid}}</td>
											</tr>

											<tr>
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">{{lang.showmobileno}}</td>
												<td style="border: 1px solid #dddddd; padding: 10px;">{{loginnumber}}</td>
											</tr>
											<tr>
												<td class="details-label" style="border: 1px solid #dddddd; padding: 10px;">{{lang.showemail}}</td>
												<td style="border: 1px solid #dddddd; padding: 10px;">{{loginemail}}</td>
											</tr>



										</table>
										<!-- <p class="details-content">
												<span class="details-label">{{lang.employeename}}:</span> {{feedback.name}}<br>
												<span class="details-label">{{lang.employeeid}}:</span> {{feedback.patientid}}<br>
												<span class="details-label">{{lang.showrole}}:</span> {{feedback.role}}<br>
												<span class="details-label">{{lang.showfloor}}:</span> {{feedback.ward}}<br>
												<span class="details-label">{{lang.showlocation}}:</span> {{feedback.bedno}}<br>
												<span class="details-label">{{lang.showpriority}}:</span> {{feedback.priority}}<br>
												<span class="details-label">{{lang.mobileno}}:</span> {{feedback.contactnumber}}
											</p>
											<p class="details-content" ng-show="selectedParameterObject.title && selectedParameterObject.title != 'Other'">
												<span class="details-label">{{lang.SelectedCategory}}:</span>
												<span class="lang-content" ng-show="typel == 'english'">{{selectedParameterObject.title}}</span>
												<span class="lang-content" ng-show="typel == 'lang2'">{{selectedParameterObject.titlek}}</span>
												<span class="lang-content" ng-show="typel == 'lang3'">{{selectedParameterObject.titlem}}</span>
												<br>
												<span class="details-label">{{lang.concern_request}}:</span>
												<span class="lang-content" ng-show="typel == 'english'">{{selectedParameterObject.question}}</span>
												<span class="lang-content" ng-show="typel == 'lang2'">{{selectedParameterObject.questionk}}</span>
												<span class="lang-content" ng-show="typel == 'lang3'">{{selectedParameterObject.questionm}}</span>
											</p> -->

										<br>


										<div class="form-group">
											<label for="comment"><b style="font-size: 15px;margin-left:6px;">{{lang.issue_optional_title}}:</b></label>
											<textarea placeholder="{{lang.issue_optional_desc}}" style="border: 2px solid #ccc; margin-left:5px;" class="form-control" ng-model="feedback.other" rows="5" id="comment"></textarea>
										</div>


										<div class="form-group" style="margin-left: 13px; margin-right:13px;margin-top:30px;">
											<label for="imageInput" class="custom-file-upload" style="font-weight: bold;">
												{{lang.image}}
											</label>
											<input style="border-bottom: 0px;" type="file" accept="image/jpeg, image/png, image/gif" ng-model="feedback.image" onchange="angular.element(this).scope().encodeImage(this)" />
											<br>
											<img ng-src="{{feedback.image}}" alt="Encoded Image" ng-show="feedback.image" />
										</div>
										<br><br>

										<input type="button" name="previous" style="font-size:small;" class="previous action-button-previous" ng-click="activateStepBasedOnShowBack()" value="{{lang.previous}}" />
										<input type="button" name="make_payment" style="background: #4285F4 ; font-size:small;" class="next action-button" ng-click="savefeedback()" ng-show="loader == false" value="{{lang.submit}}" />
									</div>
								</fieldset>


								<!-- Thank you page start -->
								<fieldset ng-show="step5	 == true">
									<div class="form-card">
										<!-- logo  -->
										<div class="row justify-content-center">
											<!--<div class="col-3"> <img src="dist/tick.png" class="fit-image"> </div>-->
										</div>
										<br><br>
										<!-- thank you  -->
										<h2 class="fs-title text-center" style="font-weight: 300;">{{lang.thankyou}}</h2> <br>
										<div class="row justify-content-center">

											<!-- Your issue is registered with us! One of our executive will get in touch with you shortly. -->
											<div class="col-12 text-center">
												<img src="dist/tick.png"> <br>
												<p style="text-align:center; margin-top: 45px; font-weight: 300;" class="lead">{{lang.thankyoumessage}}</p>
												<br>

												<button ng-click="resetFormForAnotherRequest()" class="btn btn-danger " style="padding: 15px; border-radius: 45px; font-size: 16px; box-shadow: 0px 1px 1px rgba(0,0,0,0.5); background-color:#DB6B97; border:none;">
													{{lang.refresh}}
												</button>
											</div>
										</div>
									</div>
								</fieldset>
								<!-- Thank you page end -->
							</form>
							<!-- form end  -->

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
<!-- body section end  -->

<style>
	.menu-dropdown {
		position: absolute;
		right: 10px;
		top: 50px;
		background: white;
		border-radius: 5px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		padding: 10px;
		width: 218px;
		display: none;
		z-index: 1000;
	}

	.menu-dropdown ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.menu-dropdown ul li {
		padding: 10px;
		border-bottom: 1px solid #ddd;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.menu-dropdown ul li a {
		text-decoration: none;
		color: black;
		display: flex;
		align-items: center;
		font-size: 14px;
	}

	.menu-dropdown ul li a i {
		margin-right: 10px;
	}

	.menu-dropdown ul li:last-child {
		border-bottom: none;
	}

	.menu-toggle {
		cursor: pointer;
	}

	[ng-show="menuVisible"] {
		display: block !important;
	}

	.menu-dropdown ul li a:hover {
		color: #555;
	}

	img {
		max-width: 100%;
		max-height: 300px;
		/* Adjust the max height as needed */
	}

	.ellipsis {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
	}
</style>


<!-- Activate popover on click -->
<script>
	$(document).ready(function() {
		$('#questionMark').popover({
			trigger: 'manual'
		});

		$('#questionMark').on('click', function() {
			$(this).popover('toggle');

			// Hide the popover after 2 seconds
			setTimeout(function() {
				$('#questionMark').popover('hide');
			}, 2000);
		});
	});
</script>

<!-- script code start  -->
<script>
	setTimeout(function() {

		$('#body').show();

	}, 2000);

	function restrictToAlphabets(event) {
		const inputElement = event.target;
		const currentValue = inputElement.value;
		const filteredValue = currentValue.replace(/[^A-Za-z ]/g, ''); // Remove all characters except A-Z, a-z, and spaces
		if (currentValue !== filteredValue) {
			inputElement.value = filteredValue;
		}
	}

	function restrictToNumerals(event) {
		const inputElement = event.target;
		const currentValue = inputElement.value;
		const filteredValue = currentValue.replace(/\D/g, ''); // Remove all non-digit characters
		if (currentValue !== filteredValue) {
			inputElement.value = filteredValue;
		}
	}

	document.getElementById("refreshBtn").addEventListener("click", function() {
		location.reload(); // This will refresh the page when the button is clicked
	});
</script>

<!-- script code end  -->





<div class="modal fade" id="pinModel" tabindex="-1" role="dialog" aria-labelledby="pinModelLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="pinModelLabel">Regenerate PIN</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

			</div>
			<!-- <fieldset ng-show="step200 == true"> -->
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="form-group">
					<span class="addon" style=" font-size: 16px;">{{lang.forgot_mainforgot}}</span>
					<p></p>
					<span class="has-float-label">
						<input class="form-control" placeholder="{{lang.forgot_mainplaceholder}}" maxlength="25" name="name" type="text" id="emailid" ng-model="feedback.pin_contactnumber" autocomplete="on" style=" padding-top:0px;" />
						<label for="emailid"></label>
					</span>
					<span class="has-float-label" ng-show="no_email == true">
						<p id="errorMessage" style="color: red;">{{lang.nodata}}</p>
					</span>
					<span class="has-float-label" ng-show="please == true">
						<p id="errorMessage" style="color: red;">{{lang.forgot_alert}}</p>
					</span>

				</div>
			</div>

			<!-- </fieldset> -->

			<div class="modal-footer">
				<!-- <div ng-show="tagpatient == true" class="d-flex justify-content-between w-100"> -->
				<!-- <button type="button" ng-click="prev_pop()" class="btn btn-light">Back</button> -->
				<button type="button" class="btn btn-dark" ng-click="pin_popup()">{{lang.sentpin}}</button>
				<!-- </div> -->
				<!-- Add additional buttons if needed -->
			</div>


		</div>
	</div>
</div>


<div class="modal fade" id="resendPin" tabindex="-1" role="dialog" aria-labelledby="resentPinLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="resentPinLabel">Resend my PIN</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

			</div>
			<!-- <fieldset ng-show="step200 == true"> -->
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="form-group">
					<span class="addon" style=" font-size: 16px;">{{lang.forgot_mainresend}}</span>
					<p></p>
					<span class="has-float-label">
						<input class="form-control" placeholder="{{lang.forgot_mainplaceholder}}" maxlength="25" name="name" type="text" id="emailid" ng-model="feedback.resend_contactnumber" autocomplete="on" style=" padding-top:0px;" />
						<label for="emailid"></label>
					</span>
					<span class="has-float-label" ng-show="no_email == true">
						<p id="errorMessage" style="color: red;">{{lang.nodata}}</p>
					</span>
					<span class="has-float-label" ng-show="please == true">
						<p id="errorMessage" style="color: red;">{{lang.forgot_alert}}</p>
					</span>

				</div>
			</div>

			<!-- </fieldset> -->

			<div class="modal-footer">
				<!-- <div ng-show="tagpatient == true" class="d-flex justify-content-between w-100"> -->
				<!-- <button type="button" ng-click="prev_pop()" class="btn btn-light">Back</button> -->
				<button type="button" class="btn btn-dark" ng-click="resend_pin()">{{lang.sentpin}}</button>
				<!-- </div> -->
				<!-- Add additional buttons if needed -->
			</div>


		</div>
	</div>
</div>

</html>
<script>
	function togglePassword() {
		var passwordField = document.getElementById("password");
		var passwordToggle = document.querySelector(".password-toggle");

		if (passwordField.type === "password") {
			passwordField.type = "text";
			passwordToggle.innerHTML = '<i class="fa fa-eye" aria-hidden="true"></i>'; // Change HTML to eye icon
		} else {
			passwordField.type = "password";
			passwordToggle.innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true"></i>'; // Change HTML to eye slash icon
		}
	}
</script>

<style>
	.input-field {
		padding: 12px;
		font-size: 16px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		/* Add border */
		border-radius: 25px;
		/* Add border radius */
		margin-bottom: 15px;
		width: 100%;
		box-sizing: border-box;
		color: #000;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
		/* Add box shadow */
	}

	.password-container {
		position: relative;
	}

	.password-input {
		width: calc(100% - 40px);
		/* Adjust width to accommodate the show/hide button */
	}

	.password-toggle {
		position: absolute;
		right: 50px;
		top: 39%;
		transform: translateY(-50%);
		cursor: pointer;
	}
</style>
